body{
font-family:-apple-system;
background:#f4f6fb;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.dashboard{
display:flex;
gap:10px;
margin-bottom:20px;
}

.card{
flex:1;
background:white;
padding:15px;
border-radius:12px;
text-align:center;
}

.saldo{
background:#2563eb;
color:white;
}

.form{
background:white;
padding:15px;
border-radius:12px;
margin-bottom:20px;
}

input,select{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
padding:12px;
margin-top:10px;
border-radius:10px;
display:flex;
justify-content:space-between;
}

.dark{
background:#121212;
color:white;
}