body{
font-family: Arial, sans-serif;
margin:20px;
background:#f4f6f9;
}

h1{
text-align:center;
color:#2c7be5;
}

#tanggal{
text-align:center;
margin-bottom:20px;
font-weight:bold;
}

/* input */
input{
padding:10px;
margin:5px;
border:1px solid #ccc;
border-radius:5px;
}

/* tombol */
button{
padding:8px 15px;
margin:5px;
background:#2c7be5;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1a5fd0;
}

/* tabel */
table{
border-collapse:collapse;
width:100%;
background:white;
margin-top:20px;
}

th{
background:#2c7be5;
color:white;
}

th,td{
padding:10px;
text-align:center;
border:1px solid #ddd;
}

/* responsive HP */
@media (max-width:600px){

body{
margin:10px;
}

input{
width:100%;
margin-bottom:10px;
}

button{
width:100%;
}

table{
font-size:12px;
}

}
